* {
  color: #000;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
p,
a,
img,
ul,
li,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
footer,
header {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
